<!DOCTYPE html>
<html lang="en" ng-app="colorQtest">
<!--[if lte IE 8]> <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width,initial-scale=1">
	<title>Color Q Test</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body class="noselect {{lang}}" style="background-color:{{bgcolor}}">

	<header class="container">
		<div class="row collapse">
			<div class="large-6 medium-6 columns">
				<h1>Color Q Test</h1>
			</div>
			<div class="large-4 medium-4 columns loged-in-user {{menuStatus}}">
				<a href="" class="lang" ng-click="changeLang()" ng-bind="langName"></a>
				<p> محمد علي الحمد - <a href="#">خروج</a></p>
			</div>
		</div>
		<div class="show-on-small menu-trigger icons {{menuStatus}}" ng-click="triggerMenu()"></div>
		<div class="progress hide-for-small">
			<ul>
				<li ng-repeat="li in allQestions" ng-class="{'active': $index == currentStep}"></li>
			</ul>
		</div>
		<small class="status" ng-bind-template="{{currentStep+1}} - {{allQestions.length}}"></small>
	</header>

	<br>
	<div class="q-wrap">
		<div ng-view class="view"></div>
	</div>

	<footer class="container">

	</footer>
<script src="//localhost:35729/livereload.js"></script>
</body>

<!-- <script src="js/jquery.min.js"></script> -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<!-- <script src="js/TweenMax.min.js"></script> -->
<script src="js/main.js"></script>
</html>