<!-- <div class="container"> -->
<div class="row">
	<div class="large-12 large-centered columns">
		<div class="login-box">
			<form>
				<h2>Login</h2>
				<input class="user" type="text" placeholder="User name"/>
				<br>
				<input class="pass" type="password" placeholder="password"/>
				<br><br>
				<button type="submit" ng-click="logIn()">Login</button> <span>forget password?</span>
				<br><br><br>
				NEW USER? <a href="#">Click here to register</a>	
			</form>
		</div>
		<div id="animated-colors">
			<ul>
				<li class="blue"></li>
				<li class="green"></li>
				<li class="red"></li>
				<li class="gold"></li>
			</ul>
		</div>
	</div>
</div>
	
<!-- </div> -->