<div id="questions" class="container">
	<h2 ng-bind="test[lang].q"></h2>
</div>
<div class="options">
	<button class="one" ng-class="{'active': selected == 'opt1'}" ng-bind="test[lang].opts.one.txt" ng-click="selectOne()"></button>
	<button class="two" ng-class="{'active': selected == 'opt2'}" ng-bind="test[lang].opts.two.txt" ng-click="selectTwo()"></button>
</div>
<button class="arrows right-arrow" ng-if="selected" title="Next" ng-click="next()"></button>

<div class="second-qs opt-holder {{question}} {{chars}}">
	<div class="qwraper">
		<div class="sprite objects opt-shadow"></div>
		<div class="sprite objects opt-obj {{obj}}"></div>
		<div class="sprite objects head {{head}}"></div>
	</div>
</div>