<div id="questions" class="container">
	<h2 ng-bind="test[lang].q"></h2>
</div>
<div class="options">
	<button class="one" ng-class="{'active': selected == 'opt1'}" ng-bind="test[lang].opts.one.txt" ng-click="selectOne()"></button>
	<button class="two" ng-class="{'active': selected == 'opt2'}" ng-bind="test[lang].opts.two.txt" ng-click="selectTwo()"></button>
</div>
<button class="arrows right-arrow" ng-if="selected" title="Next" ng-click="next()"></button>
<!-- <button class="arrows left-arrow">Previous</button> -->

<div class="first-qs opt-holder {{question}} {{chars}}">
	<div class="qwraper">
		<div class="sprite objects opt-shadow"></div>
		<div ng-if="question === 'q2-opt2' || question === 'q12-opt1'" class="extras">
			<i class="a"></i>
			<i class="b"></i>
			<i class="c"></i>
			<i class="d"></i>
			<i class="e"></i>
			<i class="f"></i>
			<i class="g"></i>
			<i class="h"></i>
			<i class="l"></i>
			<i class="m"></i>
			<i class="n"></i>
			<i class="o"></i>
		</div>
		<div class="sprite objects opt-obj {{obj}}"></div>
		<div class="sprite objects head {{head}}"></div>
	</div>
	<div class="sprite chars"></div>
</div>