<div class="page">
	<h1>Your test result</h1>
	<div class="color-wrap">
		<div class="color" ng-class="color">
			<div class="content">
				<p>Share your result</p>
				<i class="icons twitter" title="Twitter"></i>
				<i class="icons fb" title="Facebook"></i>
			</div>
		</div>
	</div>
	<div class="desc">
		<h1 ng-bind="color"></h1>
		<hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, modi praesentium voluptatem consequuntur, esse eius cum similique perspiciatis omnis rem quia aliquam harum, blanditiis, doloribus quisquam fugiat tempora id. Consectetur!
		</p>
	</div>
</div>